body{
    background: steelblue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

#container{
    margin: 3em;
    background: white;
    border-radius: 1em;
    padding: 1em 2em;
}

h1{

}

h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

/*activities*/

#activities{

}

.input{
    margin: 1em 0em;
}

button{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 0.6em;
}

.btnadd{
    background-color: limegreen;
}

.table {
    border: 1px solid #ddd;
}

th, td {
    border-bottom: 1px solid #ddd;
}

label.activities{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

ul {
    padding: 0;
    list-style-type: none;
}

/*timeline*/

#timeline{
    margin: 4em 0em;

}