html, body {
    margin: 0;
    min-height: 100%;
}

body{
    background: #b3cae5;
    background: -webkit-linear-gradient(#b3cae5, #f7ddbb); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b3cae5, #f7ddbb); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b3cae5, #f7ddbb); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b3cae5, #f7ddbb); /* Standard syntax */
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 1em;
}

#container{

}

h3{
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

p{
    margin:0.6em;
}

input {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 1em;
    border: 0.2em solid #ddd;
}

input[type="text"]:focus, input[type="number"]:focus {
    outline: none;
    border: 0.2em solid #f5ae20;
}

/*activities*/

#tasklist {
    margin: 0 auto;
    width: 20em;
}

.input{
    margin: 1em 0;
}

button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 1.5em;
    outline: none;
}

.btnadd{
    color: darkslategrey;
    background-color: transparent;
}

.btndel{
    color: #CD5B45;
    background-color: transparent;
}

.btnstd{
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: #0c2538;
    font-size: 1em;
    color: white;
    margin: 0.5em;
    padding: 0.5em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;

}

.btnstd:hover{
    box-shadow: 0.2em 0.2em 0.3em grey;
}

.table {
    border: 0px solid #ddd;
    max-height: 2em;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 0.5em;
}

label.event{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

ul {
    padding: 0;
    list-style-type: none;
}

/*timeline*/

#calclist {
    margin: 0 auto;
    width: 20em;
}

.timeline-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container{
    margin: 4em 0;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}

#timeline{
    margin: auto;
    width: auto;
}

.time {
    border-radius: 6em;
    background-color: #f5ae20;
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
    line-height: 2.1em;
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin: 0 0.5em;
}

.timetext {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 0.3em;
    color: #fff;
    line-height: 0.1em;
    text-shadow: 0 0.1em 0.05em #4b421f;
}

.item{
    margin: 0.8em;
    padding: 1em;
    background-color: #ddd;
    max-width: 15em;
    font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    box-shadow: 0.2em 0.2em 0.3em grey;
}