<!DOCTYPE html>

<html ng-app ="planner" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Planner</title>
    <script src="jquery-2.1.4.js"></script>
    <script src="angular.js"></script>
    <script src='planner.js'></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <div ng-controller="PlannerCntrl">
           <div id="activities">
                    <h3>Activities</h3>
                    <table class="table">
                        <tr ng-repeat="plan in plans">
                            <td>{{plan.task}}</td>
                            <td>
                                <button class="btndel" ng-click="delete(plan._id)">delete</button>
                            </td>
                        </tr>
                    </table>
               <form ng-submit="updatePlanner">
                    <div class="input">
                        <label class="activities">activity</label>
                        <input type="text" ng-model="plan.task" placeholder="activity" required="required"/>
                        <label class="activities">minutes</label>
                        <input type="number" placeholder="0" min="1" max="1000"/>
                    </div>
                    <div class="btn">
                        <button class= "btnadd" type="submit" ng-click="save()" ng-model-instant>
                            <a>Add</a>
                        </button>
                     </div>
               </form>
            </div>
        </div>
        <div id="timeline">
            <h3>Timeline</h3>
            test
        </div>
    </div>
</body>
</html>