<!DOCTYPE html>

<html ng-app ="planner" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Planner</title>
    <script src="angular.js"></script>
    <script src='planner.js'></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <div ng-controller="PlannerCntrl">
           <div id="activities">
                    <h3>Activities</h3>
                    <table class="table">
                        <tr ng-repeat="plan in plans">
                            <td>{{plan.task}}</td>
                            <td>
                                <button class="btndel" ng-click="delete(plan._id)">delete</button>
                            </td>
                        </tr>
                    </table>
               <form ng-submit="updatePlanner">
                    <div class="input">
                        <label class="activities">activity</label>
                        <input type="text" ng-model="plan.task" placeholder="activity" required="required"/>
                        <label class="activities">minutes</label>
                        <input type="number" placeholder="0" min="1" max="500"/>
                        <button class= "btnadd" type="submit" ng-click="save()" ng-model-instant>
                            <a>+</a>
                        </button>
                    </div>
               </form>
            </div>
        </div>
        <div id="result">
            <h3>Timeline</h3>
            <div id="starttime">8:00</div>
            <div id="endtime">9:15</div>
            <div id="timeline">
                <div class="item">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget nulla a ante porta aliquet. Duis consequat tincidunt quam, id gravida metus tempus in.
                </div>
                <div class="item">
                    Nunc et maximus felis, sed accumsan turpis. Ut eget egestas leo. Proin iaculis massa diam, non aliquet neque suscipit quis.
                    Donec eu nibh eu odio dictum faucibus.
                    In tincidunt nisi ligula, a finibus diam pulvinar eu. Phasellus feugiat venenatis luctus. Donec fringilla fermentum diam sit amet sodales.
                </div>
            </div>
        </div>
    </div>
</body>
</html>