<!doctype html>
<html ng-app='plan'>
<head>
    <script src="jquery-2.1.4.js"></script>
    <script src="angular.js"></script>
    <script src="angular-animate.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="container" ng-controller="PlanCtrl">
    <div id="tasklist">
      <form ng-submit="updatePlan">
        <div class="input">
            <input type="number" ng-model="plan.minutes" placeholder="0" min="1" max="500"/>
            <input type="text" ng-model="plan.task" placeholder="activity" required="required" autofocus/>
            <button type="submit" class="btnadd" ng-click="save()"><a></a> + </button>
        </div>
      </form>
      <h3>Activities</h3>
        <form>
          <table class="table">
              <!--add functional checkboxes with if-->
              <tr ng-repeat="plan in plans">
                  <td><input type="checkbox"/></td>
                  <td>{{plan.task}}</td>
                  <td>
                      <button class="btndel" ng-click="delete(plan._id)">-</button>
                  </td>
              </tr>
          </table>
        </form>
    </div>
    <div ng-controller="CalcCtrl">
        <p>Total time: {{minutesTotal()}} minutes</p>
        <h3>When do you leave?</h3>
        <form ng-submit="startTime()">
            <input ng-model="timeToLeave" type="text" name="timeToLeave" id="endtime" placeholder="00:00" autocomplete="off"/>
            <input type=submit class="btnstd" value="calculate"/>
        </form>
        <h3>Timeline</h3>
        <div class="result-container">
            <div class="time">
                <p class="timetext">wake up:</p>
                {{realStartTime}}
            </div>
            <div id="timeline" ng-repeat="plan in plans">
                <div class="item">
                   {{plan.task}}
                </div>
            </div>
            <div class="time">
                <p class="timetext">leave at:</p>
                {{timeToLeave}}
            </div>
        </div>
    </div>
</div>
</body>
</html>

